In [52]:
import numpy as np
import pandas as pd

In [53]:
dataframe = pd.read_csv("../../data/Life_Expectancy_Data.csv")
dataframe['Country'] = dataframe['Country'].replace('Russian Federation', 'Russia')
dataframe['Country'] = dataframe['Country'].replace('Viet Nam', 'Vietnam')
dataframe['Country'] = dataframe['Country'].replace('Venezuela (Bolivarian Republic of)', 'Venezuela')

In [54]:
dataframe.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [55]:
dataframe.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [56]:
dataframe1=dataframe.rename(columns={"Life expectancy ":"Life_expectancy"})

In [57]:
#keep only the last year and Developing
dataframe1=dataframe1[dataframe1["Year"]==2015]
dataframe1=dataframe1[dataframe1["Status"]=="Developing"]

developing=dataframe.rename(columns={"Life expectancy ":"Life_expectancy"})
developing_countries = developing[developing["Status"]=="Developing"]

In [58]:
dataframe1

,Country,Year,Status,Life_expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
16,Albania,2015,Developing,77.8,74.0,0,4.60,364.975229,99.0,0,...,99.0,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2
32,Algeria,2015,Developing,75.6,19.0,21,NaN,0.000000,95.0,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
48,Angola,2015,Developing,52.4,335.0,66,NaN,0.000000,64.0,118,...,7.0,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4
64,Antigua and Barbuda,2015,Developing,76.4,13.0,0,NaN,0.000000,99.0,0,...,86.0,NaN,99.0,0.2,13566.954100,NaN,3.3,3.3,0.784,13.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,Venezuela,2015,Developing,74.1,157.0,9,NaN,0.000000,87.0,0,...,87.0,NaN,87.0,0.1,NaN,NaN,1.6,1.5,0.769,14.3
2874,Vietnam,2015,Developing,76.0,127.0,28,NaN,0.000000,97.0,256,...,97.0,NaN,97.0,0.1,NaN,NaN,14.2,14.5,0.678,12.6
2890,Yemen,2015,Developing,65.7,224.0,37,NaN,0.000000,69.0,468,...,63.0,NaN,69.0,0.1,NaN,NaN,13.6,13.4,0.499,9.0
2906,Zambia,2015,Developing,61.8,33.0,27,NaN,0.000000,9.0,9,...,9.0,NaN,9.0,4.1,1313.889646,161587.0,6.3,6.1,0.576,12.5
2922,Zimbabwe,2015,Developing,67.0,336.0,22,NaN,0.000000,87.0,0,...,88.0,NaN,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

In [59]:
dataframe1=dataframe1[["Country","Life_expectancy"]]

In [60]:
dataframe1.to_csv("../../data/developing/developing-1.csv", sep=",", index = False)

In [61]:
dataframe2=dataframe.rename(columns={"Life expectancy ":"Life_expectancy", "Hepatitis B":"HepatitisB", "Diphtheria ":"Diphtheria"})

#keep only the last year and Developing
dataframe2=dataframe2[dataframe2["Year"]==2015]
dataframe2=dataframe2[dataframe2["Status"]=="Developing"]
dataframe2=dataframe2[["Country","HepatitisB", "Polio", "Diphtheria","Population"]]
dataframe2["Sum"]=dataframe2["HepatitisB"]+dataframe2["Polio"]+dataframe2["Diphtheria"]
dataframe2.sort_values(by=["Population","Sum"], 
                         ascending=False, 
                         inplace=True)
dataframe2=dataframe2[["Country","Population", "HepatitisB","Polio","Diphtheria"]]
dataframe2=dataframe2.head(10)
dataframe2

          Country   Population  HepatitisB  Polio  Diphtheria
1202    Indonesia  258162113.0        78.0    8.0        78.0
1893      Nigeria  181181744.0        49.0   49.0        49.0
2681       Turkey   78271472.0        97.0   97.0        97.0
576      Colombia   48228697.0        91.0   91.0        91.0
1362        Kenya   47236259.0        89.0   83.0        89.0
80      Argentina   43417765.0        94.0   93.0        94.0
32        Algeria   39871528.0        95.0   95.0        95.0
1234         Iraq   36115649.0        56.0   63.0        58.0
0     Afghanistan   33736494.0        65.0    6.0        65.0
2007         Peru   31376671.0         9.0   88.0         9.0

In [62]:
dataframe2.to_csv("../../data/developing/developing-2.csv", sep=",", index = False)

In [63]:
dataframe3=dataframe.rename(columns={"Life expectancy ":"Life_expectancy", "Adult Mortality":"Adult_deaths","under-five deaths ":"Under_five_deaths", "infant deaths":"Infant_deaths"})
dataframe3=dataframe3[dataframe3["Year"]==2015]
dataframe3=dataframe3[dataframe3["Status"]=="Developing"]
dataframe3=dataframe3[["Country","Life_expectancy","Adult_deaths", "Under_five_deaths", "Infant_deaths", "Population"]]
dataframe3=dataframe3.dropna()
dataframe3.sort_values(by="Life_expectancy", 
                         ascending=True, 
                         inplace=True)
dataframe3 = dataframe3.astype({'Adult_deaths':'int',"Population":"int"})

dataframe3=dataframe3.head(10)
dataframe3

,Country,Life_expectancy,Adult_deaths,Under_five_deaths,Infant_deaths,Population
2297,Sierra Leone,51.0,413,30,22,723725
48,Angola,52.4,335,98,66,2785935
512,Central African Republic,52.5,397,21,15,45461
528,Chad,53.1,356,77,46,149413
1474,Lesotho,53.7,484,6,4,2174645
1893,Nigeria,54.5,344,747,483,181181744
2409,South Sudan,57.3,332,39,26,11882136
480,Cameroon,57.3,357,68,45,22834522
1764,Mozambique,57.6,355,81,60,281691
1618,Mali,58.2,266,84,52,1746795

In [64]:
developing_countries

,Country,Year,Status,Life_expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [108]:
developing_countries_life = developing_countries[["Country" , "Year", "Life_expectancy" ]]
developing_countries_life = developing_countries_life.drop(developing_countries_life[developing_countries_life["Country"] == "San Marino"].index)
developing_countries_life = developing_countries_life.drop(developing_countries_life[developing_countries_life["Country"] == "Dominica"].index)
developing_countries_life = developing_countries_life.drop(developing_countries_life[developing_countries_life["Country"] == "Monaco"].index)
developing_countries_life = developing_countries_life.drop(developing_countries_life[developing_countries_life["Country"] == "Niue"].index)
developing_countries_life = developing_countries_life.drop(developing_countries_life[developing_countries_life["Country"] == "Palau"].index)
developing_countries_life = developing_countries_life.drop(developing_countries_life[developing_countries_life["Country"] == "Saint Kitts and Nevis"].index)
developing_countries_life = developing_countries_life.drop(developing_countries_life[developing_countries_life["Country"] == "Tuvalu"].index)
developing_countries_life = developing_countries_life.drop(developing_countries_life[developing_countries_life["Country"] == "Marshall Islands"].index)

developing_countries_life

          Country  Year  Life_expectancy
0     Afghanistan  2015             65.0
1     Afghanistan  2014             59.9
2     Afghanistan  2013             59.9
3     Afghanistan  2012             59.5
4     Afghanistan  2011             59.2
...           ...   ...              ...
2933     Zimbabwe  2004             44.3
2934     Zimbabwe  2003             44.5
2935     Zimbabwe  2002             44.8
2936     Zimbabwe  2001             45.3
2937     Zimbabwe  2000             46.0

[2418 rows x 3 columns]

In [107]:
developing_countries_life.to_csv("../../data/developing/developing4.csv", sep=",", index = False)