In [2]:
import numpy as np
import pandas as pd

In [3]:
dataframe = pd.read_csv("../../data/Life_Expectancy_Data.csv")
dataframe=dataframe.rename(columns={"Life expectancy ":"Life_expectancy"})

In [4]:
dataframe.head()

,Country,Year,Status,Life_expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [5]:
developed_countries = dataframe.loc[dataframe["Status"] == "Developed"].reset_index(drop = True)

developed_countries.head()

,Country,Year,Status,Life_expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Australia,2015,Developed,82.8,59.0,1,NaN,0.00000,93.0,74,...,93.0,NaN,93.0,0.1,56554.38760,23789338.0,0.6,0.6,0.937,20.4
1,Australia,2014,Developed,82.7,6.0,1,9.71,10769.36305,91.0,340,...,92.0,9.42,92.0,0.1,62214.69120,2346694.0,0.6,0.6,0.936,20.4
2,Australia,2013,Developed,82.5,61.0,1,9.87,11734.85381,91.0,158,...,91.0,9.36,91.0,0.1,67792.33860,23117353.0,0.6,0.6,0.933,20.3
3,Australia,2012,Developed,82.3,61.0,1,10.03,11714.99858,91.0,199,...,92.0,9.36,92.0,0.1,67677.63477,22728254.0,0.6,0.6,0.930,20.1
4,Australia,2011,Developed,82.0,63.0,1,10.30,10986.26527,92.0,190,...,92.0,9.20,92.0,0.1,62245.12900,223424.0,0.6,0.6,0.927,19.8

In [6]:
developed_countries_life = developed_countries[["Country" , "Year", "Life_expectancy" ]]

developed_countries_life

                      Country  Year  Life_expectancy
0                   Australia  2015             82.8
1                   Australia  2014             82.7
2                   Australia  2013             82.5
3                   Australia  2012             82.3
4                   Australia  2011             82.0
..                        ...   ...              ...
507  United States of America  2004             77.5
508  United States of America  2003             77.2
509  United States of America  2002             77.0
510  United States of America  2001             76.9
511  United States of America  2000             76.8

[512 rows x 3 columns]

In [7]:
developed_countries_life_15 = developed_countries_life[developed_countries_life["Year"] == 2015].reset_index(drop = True).drop("Year" , axis = 1)

developed_countries_life_15

                                              Country  Life_expectancy
0                                           Australia             82.8
1                                             Austria             81.5
2                                             Belgium             81.1
3                                            Bulgaria             74.5
4                                             Croatia             78.0
5                                              Cyprus             85.0
6                                             Czechia             78.8
7                                             Denmark             86.0
8                                             Germany             81.0
9                                             Hungary             75.8
10                                            Iceland             82.7
11                                            Ireland             81.4
12                                              Italy             82.7
13                                              Japan             83.7
14                                             Latvia             74.6
15                                          Lithuania             73.6
16                                         Luxembourg             82.0
17                                              Malta             81.7
18                                        Netherlands             81.9
19                                        New Zealand             81.6
20                                             Norway             81.8
21                                             Poland             77.5
22                                           Portugal             81.1
23                                            Romania             75.0
24                                          Singapore             83.1
25                                           Slovakia             76.7
26                                           Slovenia             88.0
27                                              Spain             82.8
28                                             Sweden             82.4
29                                        Switzerland             83.4
30  United Kingdom of Great Britain and Northern I...             81.2
31                           United States of America             79.3

In [8]:
developed_countries_life_15.to_csv("../../data/developed1-2.csv", sep=",", index = False)